.buttonRoll {
  background: #00FF00;
  color: #FFF;
  border: 2px solid #eee;
  border-radius: 15px;
  height: 50px;
  width: 100px;
}

.buttonRoll:hover {
  background-color: #008000;
}

.buttonStop {
  background: red;
  color: #FFF;
  border: 2px solid #eee;
  border-radius: 15px;
  height: 50px;
  width: 100px;
}

.buttonStop:hover {
  background-color: #800;
}

.container {
  margin: auto;
  width: 401px;
  height: 131px;
  border: 1px solid black;
}

.container.mid {
  padding: 20px;
  margin: auto;
  width: 585px;
  height: 300px;
}

.container2 {
  margin: auto;
  padding: 10px;
  width: 155px;
  height: 50px;
  border: 1px solid black;
}

#invisible {
  visibility: hidden;
}

#visible {
  width: 50px;
  visibility: visible;
}

#center {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: 10px;
}

.die {
  margin: 10px;
  width: 111px;
  height: 111px;
  background-image: url("die1.png");
  display: inline-block;
}

.die.rolling {
  animation: roll 1s infinite linear;
}

.die.d1 { background-image: url("die1.png"); }
.die.d2 { background-image: url("die2.png"); }
.die.d3 { background-image: url("die3.png"); }
.die.d4 { background-image: url("die4.png"); }
.die.d5 { background-image: url("die5.png"); }
.die.d6 { background-image: url("die6.png"); }

@keyframes roll {
    0%   { background-image: url("die1.png"); }
    16%  { background-image: url("die2.png"); }
    32%  { background-image: url("die3.png"); }
    48%  { background-image: url("die4.png"); }
    64%  { background-image: url("die5.png"); }
    100% { background-image: url("die6.png"); }
}
