body {
  font-family: Verdana, Georgia,sans-serif;
  background-image: url("bg.png");
  color: white;
}

h1 {
  margin: 20px auto;
  font-size: 50px;
  text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  font-size:80px; color:white; font-weight:bold; text-align:center;
  text-indent:0;
  line-height:500px;
}

.gameover#visible {
  animation: gameover 2s linear forwards;
}

@keyframes gameover{
  0%{left:-5000px;bottom:100%;}
  97%{left:-5000px;bottom:100%;}
  100%{ left:0px;}
}

.buttonRoll {
  background: #00FF00;
  color: #FFF;
  border: 2px solid #eee;
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.buttonRoll:hover {
  background-color: #008000;
}

.buttonStop {
  margin-left: 49px;
  background: red;
  color: #FFF;
  border: 2px solid #eee;
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

.buttonStop:hover {
  background-color: #800;
}

.container {
  margin: auto;
  width: 405px;
  height: 131px;
  border: 1px solid white;
}

.container.mid {
  padding: 20px;
  margin: auto;
  width: 807px;
  height: 300px;
}

.container.mid.left {
  margin: 0;
  width: 170px;
  height: 75px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.container.mid.right {
  margin: 0;
  width: 170px;
  height: 75px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.container.mid.middle {
  vertical-align: top;
  margin: 0;
  margin-right: 25px;
  width: 300px;
  height: 300px;
  display: inline-block;
  border: none;
}

.container2 {
  margin: auto;
  padding: 10px;
  width: 155px;
  height: 50px;
  border: 1px solid white;
}

#invisible {
  visibility: hidden;
}

#visible {
  visibility: visible;
}

#center {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: 10px;
}

.die {
  margin: 10px;
  width: 111px;
  height: 111px;
  background-image: url("die1.png");
  display: inline-block;
}

.die.rolling {
  animation: roll 1s infinite linear;
}

.die.d1 { background-image: url("die1.png"); }
.die.d2 { background-image: url("die2.png"); }
.die.d3 { background-image: url("die3.png"); }
.die.d4 { background-image: url("die4.png"); }
.die.d5 { background-image: url("die5.png"); }
.die.d6 { background-image: url("die6.png"); }

@keyframes roll {
    0%   { background-image: url("die1.png"); }
    16%  { background-image: url("die2.png"); }
    32%  { background-image: url("die3.png"); }
    48%  { background-image: url("die4.png"); }
    64%  { background-image: url("die5.png"); }
    100% { background-image: url("die6.png"); }
}
